* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgb(43, 43, 145), rgb(86, 169, 86), purple);
}

h1 {
    text-align: center;
    color: #FFF;
    font-weight: bold;
}

.card {
    margin: 0 auto;
    text-align: center;
    width: 350px;
    font-size: 0;
}

.btn {
    width: 87px;
    height: 70px;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 50px;
}

.btn_style {
    background-color: red;
}

.box-shadow {
    background-color: 0 4px 8px 0;
}

.btn:hover {
    background-color: #11999e;
}

.display {
    font-size: 20px;
    width: 350px;
    height: 80px;
    margin-bottom: 5px;
    text-align: right;
    font-weight: bold;
    padding: 0 1px;
    letter-spacing: 2px;
    background-color: rgb(162, 144, 162);
    border-radius: 30px;
    font-family: 'Orbitron', sans-serif;
}

.ras {
    color: red;
}

.header {
    width: 350px;
    margin: 50px auto;
    border: 20px solid rgb(252, 5, 203);
    padding: 5px;
    border-radius: 30px;
}